.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 100;
}

.logo {
  height: 40px;
}

.logo-img {
  width: 100%;
  height: inherit;
}

.icon {
  font-size: 48px;
  color: #fff;
}

.menu-btn {
    background: none;
    border: none;
    outline: none;
}
